.m4yours-editor {
    position: absolute;
    top: calc(50% - 11px);
    left: 26px;
    font-weight: 600;
  }
  .lets-iconsback {
    position: relative;
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .lets-iconsback-parent {
    position: absolute;
    top: calc(50% - 12px);
    left: 1603px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3px;
  }
  .pheye-bold-icon {
    position: absolute;
    top: calc(50% - 12px);
    left: 1670px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    object-fit: cover;
  }
  .publish {
    position: relative;
  }
  .m4yours-editor-parent,
  .publish-wrapper {
    position: absolute;
    box-sizing: border-box;
    height: 48px;
  }
  .publish-wrapper {
    top: calc(50% - 24px);
    right: 0;
    background-color: #f1614a;
    width: 196px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 13px;
  }
  .m4yours-editor-parent {
    top: 0;
    left: calc(50% - 960px);
    background-color: #2b2b2b;
    border-bottom: 1px solid #575757;
    width: 1920px;
    overflow: hidden;
    font-family: "IBM Plex Sans";
  }
  .text {
    flex: 1;
    position: relative;
    line-height: 21px;
    background: linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.6)
      ),
      #4b465c;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .search-icon {
    position: relative;
    width: 18px;
    height: 18px;
    object-fit: cover;
  }
  .form,
  .form1 {
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .form1 {
    flex: 1;
    overflow: hidden;
    padding: 6px 10px;
    gap: 6px;
  }
  .form {
    position: absolute;
    top: 26px;
    left: 26px;
    background-color: #333;
    width: 308px;
    font-size: 13px;
  }
  .frame-child,
  .frame-item {
    position: absolute;
    top: 84.5px;
    left: 25.5px;
    border-top: 1px solid #575757;
    box-sizing: border-box;
    width: 309px;
    height: 1px;
  }
  .frame-item {
    top: 357.5px;
  }
  .my-components {
    position: relative;
    line-height: 21px;
  }
  .basic-parent,
  .my-components-parent {
    position: absolute;
    top: 111px;
    left: 26px;
    width: 308px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .basic-parent {
    top: 384px;
  }
  .picture-1-icon {
    position: relative;
    width: 12px;
    height: 12px;
    object-fit: cover;
  }
  .picture-1-parent {
    align-self: stretch;
    flex: 1;
    border-radius: 4px;
    background-color: #2f3031;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    gap: 10px;
  }
  .frame-group {
    align-self: stretch;
    height: 89px;
    flex-direction: row;
    gap: 6px;
  }
  .frame-group,
  .frame-parent,
  .frame-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-wrapper {
    width: 99px;
    height: 89px;
    flex-direction: row;
  }
  .frame-parent {
    position: absolute;
    top: 148px;
    left: 26px;
    width: 308px;
    flex-direction: column;
    gap: 6px;
    font-size: 12px;
  }
  .icon-parkadd-text {
    position: relative;
    width: 18px;
    height: 18px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .frame-container {
    position: absolute;
    top: 421px;
    left: 26px;
    width: 308px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 6px;
    font-size: 12px;
  }
  .form-parent {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #2b2b2b;
    width: 360px;
    height: 1032px;
    overflow: hidden;
  }
  .block-options-parent {
    position: absolute;
    top: 26px;
    left: 26px;
    width: 308px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .icon-park-soliddown-one {
    position: relative;
    width: 12px;
    height: 12px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .normal-parent {
    flex: 1;
    border-radius: 3px;
    background-color: #595964;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 4px 6px;
  }
  .icon {
    position: relative;
    width: 7.06px;
    height: 9.2px;
    object-fit: cover;
  }
  .mdimonitor-off {
    border-radius: 3px 0 0 3px;
    background-color: #595964;
    width: 23px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6.900006294250488px 5.914290904998779px;
    box-sizing: border-box;
  }
  .frame-wrapper1,
  .mdimonitor-off-wrapper {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-wrapper1 {
    border-radius: 3px 0 0 3px;
  }
  .icon1 {
    position: relative;
    width: 7.89px;
    height: 9.2px;
    object-fit: cover;
  }
  .mdimonitor-off1 {
    background-color: #595964;
    width: 23px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6.900006294250488px 5.914290904998779px;
    box-sizing: border-box;
  }
  .icon2,
  .icon3 {
    position: relative;
    width: 7.16px;
    height: 9.2px;
    object-fit: cover;
  }
  .icon3 {
    width: 11.03px;
  }
  .mdimonitor-off3 {
    border-radius: 0 3px 3px 0;
    background-color: #595964;
    width: 23px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6.900006294250488px 5.914290904998779px;
    box-sizing: border-box;
  }
  .frame-parent7 {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1px;
  }
  .icon4,
  .icon5 {
    position: relative;
    width: 10.51px;
    height: 9.2px;
    object-fit: cover;
  }
  .icon5 {
    width: 9.36px;
  }
  .frame-parent6 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3px;
  }
  .icon-park-soliddown-one-wrapper,
  .wrapper {
    border-radius: 3px;
    background-color: #595964;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
  }
  .wrapper {
    width: 42px;
    flex-shrink: 0;
    justify-content: center;
    padding: 4px 10px;
  }
  .icon-park-soliddown-one-wrapper {
    width: 78px;
    height: 23px;
    justify-content: flex-end;
    padding: 4px 6px;
  }
  .icon6 {
    position: relative;
    width: 11.35px;
    height: 9.2px;
    object-fit: cover;
  }
  .mdimonitor-off6 {
    flex: 1;
    border-radius: 3px 0 0 3px;
    background-color: #595964;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6.900006294250488px 5.914290904998779px;
  }
  .frame-wrapper7,
  .mdimonitor-off-wrapper4 {
    flex: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-wrapper7 {
    border-radius: 3px 0 0 3px;
  }
  .icon7 {
    position: relative;
    width: 10.93px;
    height: 9.2px;
    object-fit: cover;
  }
  .mdimonitor-off7 {
    flex: 1;
    background-color: #595964;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6.900006294250488px 5.914290904998779px;
  }
  .vector-icon {
    position: relative;
    width: 5.02px;
    height: 9.2px;
    object-fit: cover;
  }
  .mdimonitor-off8 {
    flex: 1;
    border-radius: 0 3px 3px 0;
    background-color: #595964;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6.900006294250488px 5.914290904998779px;
  }
  .frame-parent10,
  .frame-wrapper9 {
    flex: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-wrapper9 {
    border-radius: 0 3px 3px 0;
  }
  .frame-parent10 {
    gap: 1px;
  }
  .group-icon {
    position: relative;
    width: 9.2px;
    height: 9.2px;
    object-fit: cover;
  }
  .frame-parent5,
  .integrate-build-publish-and-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent5 {
    align-self: stretch;
    flex-direction: column;
    gap: 3px;
  }
  .integrate-build-publish-and-wrapper {
    flex-direction: row;
    padding: 0 16px;
  }
  .frame-parent4,
  .text1 {
    position: absolute;
    left: 26px;
  }
  .frame-parent4 {
    top: 91px;
    border-radius: 4px;
    background-color: #2f3031;
    border: 1px solid #575757;
    box-sizing: border-box;
    width: 308px;
    height: 172px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 12px 12px 50px;
    gap: 16px;
    font-size: 12px;
    font-family: Inter;
  }
  .text1 {
    top: 63px;
    font-size: 14px;
    color: #707070;
  }
  .vector {
    position: relative;
    border-radius: 50%;
    background-color: #fff;
    width: 12px;
    height: 12px;
  }
  .form-switch-button,
  .inline-text-editing-parent {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .form-switch-button {
    border-radius: 100px;
    background-color: #f1614a;
    width: 30px;
    justify-content: flex-end;
    padding: 3px;
    box-sizing: border-box;
  }
  .inline-text-editing-parent {
    width: 308px;
    justify-content: space-between;
  }
  .allow-rich-text {
    margin: 0;
  }
  .allow-rich-text-container {
    position: relative;
    font-size: 14px;
    line-height: 18px;
    color: #707070;
  }
  .frame-parent12 {
    position: absolute;
    top: 289px;
    left: 26px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
  }
  .frame-parent3 {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #2b2b2b;
    width: 360px;
    height: 1032px;
    overflow: hidden;
  }
  .desktop-wrapper,
  .mobile-wrapper {
    position: absolute;
    top: 138px;
    left: 537px;
    border-radius: 4px;
    background-color: #2b2b2b;
    width: 594px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 16px;
    box-sizing: border-box;
    font-size: 12px;
  }
  .mobile-wrapper {
    left: 1169px;
    width: 214px;
  }
  .plus-icon {
    position: relative;
    width: 16px;
    height: 16px;
    object-fit: cover;
  }
  .text2 {
    position: relative;
    letter-spacing: 0.43px;
    line-height: 16px;
    font-weight: 500;
  }
  .button3 {
    flex-shrink: 0;
    flex-direction: row;
    padding: 6px 14px;
    gap: 6px;
  }
  .button-wrapper,
  .button2,
  .button3 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button2 {
    border-radius: 4px;
    background-color: #1a73e8;
    flex-direction: row;
  }
  .button-wrapper {
    position: absolute;
    top: 354px;
    left: calc(50% - 297px);
    background-color: #05080d;
    border: 1px solid #5d96ff;
    box-sizing: border-box;
    width: 594px;
    flex-direction: column;
    padding: 40px 10px;
    font-size: 13px;
  }
  .ionlogo-xbox-icon,
  .lighticon {
    position: relative;
    object-fit: cover;
  }
  .ionlogo-xbox-icon {
    width: 19.8px;
    height: 19.8px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .lighticon {
    width: 6.6px;
    height: 6.6px;
  }
  .menu,
  .pricing {
    display: flex;
    flex-direction: row;
  }
  .pricing {
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    gap: 3.3px;
  }
  .menu {
    flex: 1;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16.5px;
  }
  .lightbutton,
  .lightsearch-box {
    border-radius: 12.38px;
    height: 19.8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }
  .lightsearch-box {
    background-color: #f0f1f2;
    width: 99px;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 0 0 9.074999809265137px;
    gap: 4.13px;
  }
  .lightbutton {
    background-color: #4475f2;
    flex-direction: column;
    justify-content: center;
    padding: 0 15.675000190734863px;
    color: #fff;
  }
  .right {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3.3px;
    text-align: center;
    font-size: 12px;
    font-family: "Plus Jakarta Display";
  }
  .container1,
  .header-light-04 {
    position: absolute;
    top: 0;
    height: 29.7px;
  }
  .container1 {
    left: 61.88px;
    width: 470.25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16.5px;
  }
  .header-light-04 {
    left: calc(50% - 297px);
    background-color: #000;
    border-bottom: 1px solid #575757;
    box-sizing: border-box;
    width: 594px;
    overflow: hidden;
    color: #9a9ea6;
    font-family: "IBM Plex Sans";
  }
  .bottom-bar {
    position: absolute;
    top: 135.71px;
    left: 61.88px;
    width: 470.25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .faq {
    position: relative;
    text-transform: capitalize;
  }
  .items,
  .menu1,
  .menu2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .items {
    flex-shrink: 0;
    justify-content: flex-start;
    gap: 8.25px;
    font-size: 5.78px;
    color: #9a9ea6;
  }
  .menu1,
  .menu2 {
    top: 0;
    justify-content: center;
    gap: 9.9px;
  }
  .menu1 {
    position: absolute;
    left: 160.88px;
  }
  .menu2 {
    left: 80.44px;
  }
  .menu2,
  .menu3,
  .menus {
    position: absolute;
  }
  .menu3 {
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 9.9px;
  }
  .menus {
    top: 23.1px;
    left: 303.19px;
    width: 208.88px;
    height: 92.9px;
    font-size: 7.43px;
    color: #464646;
  }
  .logo-icon {
    position: relative;
    width: 35.71px;
    height: 16.5px;
    object-fit: cover;
  }
  .we-ara-a {
    line-height: 9.9px;
  }
  .read-more {
    color: #4475f2;
  }
  .we-ara-a-container {
    align-self: stretch;
    position: relative;
  }
  .introduction {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4.95px;
  }
  .lightsocial-icons {
    position: relative;
    width: 8.25px;
    height: 8.25px;
    object-fit: cover;
  }
  .lightmini-button {
    border-radius: 12.38px;
    background-color: #e3ebfd;
    width: 19.8px;
    height: 19.8px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .left,
  .socials {
    display: flex;
    justify-content: flex-start;
  }
  .socials {
    flex-shrink: 0;
    flex-direction: row;
    align-items: center;
    gap: 3.3px;
  }
  .left {
    position: absolute;
    top: 23.1px;
    left: 61.88px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12.38px;
  }
  .footer-light-04 {
    position: absolute;
    bottom: 0;
    left: calc(50% - 297px);
    background-color: #0c0c0c;
    width: 594px;
    height: 196px;
    overflow: hidden;
    color: #9a9ea6;
    font-family: "IBM Plex Sans";
  }
  .text3 {
    position: relative;
    letter-spacing: 0.25px;
    font-weight: 500;
  }
  .button4 {
    background-color: #1a73e8;
    border-right: 0.6px solid rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5.833333969116211px 11.666667938232422px;
  }
  .chevron-down-icon3 {
    position: relative;
    width: 10px;
    height: 10px;
    object-fit: cover;
  }
  .button6 {
    background-color: #1a73e8;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5.833333969116211px 11.666667938232422px;
  }
  .horizontal-button-group {
    position: absolute;
    top: 330px;
    left: 18px;
    border-radius: 3.5px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .unsplash-hcpwe1-prc-icon {
    position: absolute;
    top: calc(50% - 242px);
    right: -36px;
    width: 729px;
    height: 485px;
    object-fit: cover;
  }
  .gift-guide,
  .heres-to-joy {
    position: absolute;
    top: 18.95px;
    left: calc(50% - 114.5px);
  }
  .gift-guide {
    top: 0;
    left: calc(50% - 38.5px);
    font-size: 13.41px;
    text-transform: uppercase;
    font-weight: 600;
    color: #69764a;
  }
  .there-are-many {
    position: absolute;
    top: 69.67px;
    left: 0;
    font-size: 8.57px;
    color: #7a8365;
    text-align: center;
    display: inline-block;
    width: 299px;
  }
  .plus-icon1 {
    position: relative;
    width: 16px;
    height: 16px;
    object-fit: cover;
    display: none;
  }
  .text5 {
    position: relative;
    letter-spacing: 0.43px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 500;
  }
  .button7 {
    position: absolute;
    top: 105.95px;
    left: calc(50% - 55.5px);
    border-radius: 4px;
    background-color: #536136;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #fff;
    font-family: "Public Sans";
  }
  .heres-to-joy-parent {
    position: absolute;
    top: 95px;
    left: calc(50% - 149px);
    width: 299px;
    height: 133.95px;
  }
  .unsplash-hcpwe1-prc-parent {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 594px;
    height: 324px;
    overflow: hidden;
    text-align: left;
    font-size: 36.22px;
    color: #536136;
    font-family: Inter;
  }
  .group-child {
    position: absolute;
    top: 312px;
    left: 552px;
    width: 24px;
    height: 24px;
    object-fit: cover;
  }
  .horizontal-button-group-parent {
    position: absolute;
    top: 30px;
    left: 0;
    width: 594px;
    height: 351.67px;
    text-align: center;
    font-size: 8.75px;
  }
  .frame-parent13 {
    position: absolute;
    top: 193px;
    left: 537px;
    background-color: #000;
    width: 594px;
    height: 805px;
    overflow: hidden;
    font-size: 5.78px;
  }
  .ionlogo-xbox-icon1 {
    position: absolute;
    top: calc(50% - 8px);
    left: 16px;
    width: 16px;
    height: 16px;
    overflow: hidden;
    object-fit: cover;
  }
  .darkmini-button {
    position: absolute;
    top: calc(50% - 9px);
    right: 16px;
    width: 18px;
    height: 18px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .ionlogo-xbox-parent {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    border-bottom: 1px solid #575757;
    box-sizing: border-box;
    width: 214px;
    height: 30px;
    overflow: hidden;
  }
  .logo-child,
  .swipe-icon {
    position: absolute;
    height: 34.93%;
    width: 45.31%;
    top: 35.53%;
    right: 0;
    bottom: 29.53%;
    left: 54.69%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .logo-child {
    height: 100%;
    width: 46.2%;
    top: 0;
    right: 53.8%;
    bottom: 0;
    left: 0;
  }
  .logo {
    position: absolute;
    height: 12.42%;
    width: 29.91%;
    top: 6.92%;
    right: 62.62%;
    bottom: 80.66%;
    left: 7.48%;
  }
  .we-ara-a-container1 {
    position: absolute;
    top: 56.03px;
    left: 16px;
    display: inline-block;
    width: 182px;
  }
  .socials1 {
    position: absolute;
    top: 178px;
    left: 51px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 3.3px;
  }
  .all-rights-reserved1 {
    position: absolute;
    top: 214px;
    left: calc(50% - 44px);
  }
  .about-parent,
  .frame-parent15 {
    display: flex;
    align-items: flex-start;
  }
  .about-parent {
    width: 182px;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-between;
  }
  .frame-parent15 {
    position: absolute;
    top: 110px;
    left: 16px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    font-size: 7.43px;
    color: #464646;
  }
  .logo-parent {
    position: absolute;
    bottom: 0;
    left: calc(50% - 107px);
    background-color: #0c0c0c;
    width: 214px;
    height: 238px;
    overflow: hidden;
  }
  .unsplash-hcpwe1-prc-icon1 {
    position: absolute;
    top: calc(50% - 110.5px);
    left: calc(50% - 182px);
    width: 333px;
    height: 221px;
    object-fit: cover;
  }
  .gift-guide1,
  .heres-to-joy1 {
    position: absolute;
    top: 9.82px;
    left: calc(50% - 59.36px);
  }
  .gift-guide1 {
    top: 0;
    left: calc(50% - 19.96px);
    font-size: 6.95px;
    text-transform: uppercase;
    font-weight: 600;
    color: #69764a;
  }
  .there-are-many1 {
    position: absolute;
    top: 36.12px;
    left: 0;
    font-size: 4.44px;
    color: #7a8365;
    text-align: center;
    display: inline-block;
    width: 155px;
  }
  .plus-icon2 {
    position: relative;
    width: 8.29px;
    height: 8.29px;
    object-fit: cover;
    display: none;
  }
  .text6 {
    position: relative;
    letter-spacing: 0.22px;
    line-height: 8.29px;
    text-transform: uppercase;
    font-weight: 500;
  }
  .button10,
  .button9 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .button10 {
    padding: 3.110367774963379px 7.2575249671936035px;
    gap: 3.11px;
  }
  .button9 {
    position: absolute;
    top: 54.92px;
    left: calc(50% - 28.61px);
    border-radius: 2.07px;
    background-color: #536136;
    width: 48.73px;
    height: 14.52px;
    font-size: 6.74px;
    color: #fff;
    font-family: "Public Sans";
  }
  .heres-to-joy-group {
    position: absolute;
    top: 52px;
    left: calc(50% - 78px);
    width: 155px;
    height: 69.44px;
  }
  .unsplash-hcpwe1-prc-group {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 214px;
    height: 173px;
    overflow: hidden;
  }
  .button-container,
  .button11 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button11 {
    border-radius: 4px;
    background-color: #5d96ff;
    flex-direction: row;
  }
  .button-container {
    position: absolute;
    top: 173px;
    left: calc(50% - 107px);
    background-color: #05080d;
    border: 1px solid #5d96ff;
    box-sizing: border-box;
    width: 214px;
    flex-direction: column;
    padding: 40px 10px;
    font-size: 13px;
    color: #fff;
    font-family: "Public Sans";
  }
  .frame-parent14,
  .group-div {
    position: absolute;
    top: 30px;
    left: 0;
    width: 214px;
    height: 281px;
    font-size: 18.78px;
    color: #536136;
    font-family: Inter;
  }
  .frame-parent14 {
    top: 193px;
    left: 1169px;
    background-color: #000;
    height: 724px;
    overflow: hidden;
    font-size: 5.78px;
    color: #9a9ea6;
    font-family: "IBM Plex Sans";
  }
  .editor {
    position: relative;
    background-color: #1e1e1e;
    width: 100%;
    height: 1080px;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    color: #fff;
    font-family: "Public Sans";
  }
  